<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css?8">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon-180.png">
    <title>Facebook Events to iCal Converter | about</title>
  </head>

  <body>
    <h3>Version information</h3>
    <code><%= version %></code>
    <h2>About the project</h2>

    <p>
      Not too long ago I deactivated my Facebook account. While I do not miss the social network very much, plenty of local events are only announced on Facebook.
    </p>
    <p>
      To my surprise, I found out that the company discontinued the ability to export events to <em>iCal</em> files. This app aims at enabling you to do just that. <strong>It only works with public events</strong>. Unfortunately I haven't had the time to enable you to export your own events (but it's definitely possible).
    </p>
    <p>
      I tried to keep the code and build as simple as I could. It does not have fancy build pipeline, code coverage or typing system, not even design (yeah you probably noticed that, right?)
    </p>

    <h3>How it works?</h3>

    <p>
      The backend service <strong>does not use Facebook API</strong> which means that I'm basically scraping the page source. This means:

      <ul>
        <li>You might not get consistent results</li>
        <li>The data retrieved might not be correct</li>
        <li>The service might get blocked due to traffic</li>
      </ul>
    </p>

    <h3>Works offline</h3>

    <p>
      The site is actually <em>Progressive Web App</em> which means it can run offline. You still need connection to download <em>*.ics</em> files but you'll be able to see list of already downloaded files. The use case for this is to have a place where you might want to store the events separately (you might not want to put them to your calendar). The downloaded data is local-only which means it does not sync in any way. I do not plan on adding user accounts as I want to keep the app very simple.
    </p>

    <h3>No JavaScript</h3>

    <p>
      This is not a feature really, just a stupid switch because I wanted to see how the app would behave without JS. I just left it there because why not ;)
    </p>

    <h3>Bugs & Features</h3>

    <p>
      If you want to let me know about any problems or improvements, you can contact me via my website, or even better create an issue on Github (link are on the main page in the footer).
    </p>

    <a href="#" onclick="window.open('', '_parent', '');window.close()">Close</a>
  </body>
</html>
