<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Facebook Events to iCal Converter | download</title>
  </head>

  <body>
    <h2>Your ICS file is ready</h2>

    <p>
      The <code>ics</code> file was created successfully from url
      <a href="<%= url %>"><%= url %></a>.
    </p>
    <p>
      Your download will start automatically.
    </p>
    <a href="/">Go back</a>
  </body>
</html>
