<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Facebook Events to iCal Converter | error</title>
  </head>

  <body>
    <h2>Error</h2>

    <p>
      An error occured!

      <%= error || '' %>
    </p>
    <a href="/">Go back</a>
  </body>
</html>
