<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Facebook Events to iCal Converter</title>
  </head>

  <body>
    <h1>Facebook Events to iCal Converter</h1>

    <p>
      Insert Facebook event URL into the form. When you submit it
      you will get <a href="https://en.wikipedia.org/wiki/ICalendar"><code>ics</code></a>
      file that you can import
      into your calendar.
    </p>

    <form action='/download' method='POST'>
      <input type='text' name='url' placeholder='Paste / type FB event URL here...' />
      <input type='submit' value='Submit' />
    </form>
  </body>
</html>
